<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>List Retro Notes</h1>		
		</div>
		<div class="panel-body">
			<div class="row">
				<% @notes_names.each do |i| %>
					<div class="col-md-6">
						<h3><%= i %> </h3>
					</div>
				<% end %>
				<% @notes.each do |note| %>
				<div class="col-md-6">
					<% if current_user == note.user %>
						<%= link_to "Edit", edit_sretro_note_path(@sretro, note) %> |
						<%= link_to "Delete", sretro_note_path(@sretro, note), method: :destroy, data: { confirm: 'Are you sure?' } %>
					<% end %>
					<p>
						<%= note.notes %>
					</p>
				</div>
			<% end %>
			</div>
		</div>
		<div class='panel-footer'>
			<%= link_to "Finish Retro", "#", id: "finish_retro", data: {sretro_id: @sretro.id} %>
		</div>
	</div>
</div>