<div class="container">

	<%= form_for [@sretro, @note]  do |f| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>New Note</h1>
				<p><%= link_to "Summary", sretro_notes_path(@sretro) %></p>
			</div>
			<div class="panel-body">
				<%= f.text_area :notes, size: "100x10" %><br>
		        <%= f.select(:note_type_id, NoteType.all.map{ |c| [c.name, c.id] }, :include_blank => "--Note Type--") %>
			</div>
			<div class="panel-footer">
				<%= f.submit "Save", class: 'btn btn-primary btn-lg', data: {disable_with: "Saving.."} %>
			</div>
		</div>
		<div>
			<%= link_to "Previous Retros", sretros_path %>
		</div>
	<% end %>

</div>
