<div class="container">
	<h1>Retro Notes</h1>

	<%= form_for [@sretro, @note]  do |f| %>
		<div class="row">
			<div id="div_went_well_row" class="col-md-4">
				<div>
					<%= f.label "What went well" %><br>
					<%= f.text_area :notes, size: "50x10" %>
				</div>
			</div>
			<div class="col-md-4">
				<%= f.label "What did NOT go well" %>
				<%= f.text_area :notes, size: "50x10" %>
			</div>
			<div class="col-md-4">
				<%= f.label "What can we do better" %>
				<%= f.text_area :notes, size: "50x10" %>
			</div>
		</div>

		<div>
			<%= f.submit "Submit", class: 'btn btn-primary btn-lg'%>
		</div>
		<div>
			<%= link_to "Previous Retros", sretros_path %>
		</div>
	<% end %>

</div>
